* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  
}

img {
  display: block;
  max-width: 100%;
}

.timer {
   display: flex;
   justify-content: center;
   gap: 10px;
  
   

 }
.field{
  display: flex;
  flex-direction: column-reverse;
  width: 90px;
  padding: 5px;
  background-color: lightgray;
  border: 1px inset black;
  border-radius: 5px;
}
.value {
  margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.label {
  text-transform: uppercase;
  margin-left: auto;
    margin-right: auto;
  font-weight: 500;
}

.flatpickr-input {
font-size: 20px;
border-radius: 5px;
border: 2px solid black;
}

.start-btn:disabled{
  border: 1px solid black;
background-color: inherit;
}
 
.start-btn {

  height: 70px;
  width: 70px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: orangered
}
.start-btn:enabled:hover {
  cursor: pointer;
  background-color: red
}

